/* Inspired from the Debian BTS stylesheet. */

html {
  color: #000;
  background: #fefefe;
  font-family: sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  line-height: 120%;
}

body {
  margin: 10px;
  border: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 150%;
  line-height: 150%;
}

h2 {
  text-align: left;
  font-size: 130%;
  color: #3c3c3c;
  padding: 10px;
}

h2.index {
  background-color: #f0f0f0;
  border: #a7a7a7 1px solid;
}

h3 {
  font-size: 100%;
  border-top: thin solid #a7a7a7;
}

p {
  font-size: 95%;
}

span.news {
  font-size: smaller;
}

li {
  list-style-type: square;
  margin-top: 5px;
}

li.alt_deps {
  list-style-type: none;
}

span.code {
  font-family: monaco,"Bitstream Vera Sans Mono","Courier New",courier,monospace;
}

a:link {
  color: #1b56ce;
  font-weight: bold;
}

a:visited {
  color:#1b56ce;
}

a:link:active, a:link:visited {
  color:#ff0000;
}

a:link:hover, a:visited:hover {
  color: #d81e1e;
}

a img {
  border: 0;
}

.arch {
  font-weight: bold;
  color: #3c3c3c;
}

#links {
  background-color: #f0f0f0;
  color: #3c3c3c;
  border: thin solid #a7a7a7;
  padding: 1em 0.5em;
  float: right;
  font-size:smaller;
  margin-left:1em;
  width: auto;
}

#links #links_title {
  text-align: left;
  font-weight: bold;
  font-size: 130%;
  color: #3c3c3c;
}

#long_desc {
  text-align: justify;
}

#depends {
  font-size: smaller;
}

table {
  border: 2px solid #a7a7a7;
  border-collapse: collapse;
  margin: 0 1em 1em;
  font-size: smaller;
}

th {
  text-align: left;
  border: 1px solid #a7a7a7;
  padding: 0.1em;
}

td {
  text-align: right;
  border: 1px solid #a7a7a7;
}

#footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: smaller;
  clear: both;
}
